@font-face {
    font-family: mulish-italic;
    src: url(fonts/Mulish/Mulish-Italic.ttf);
}

@font-face {
  font-family: century-gothic-bold;
  src: url(fonts/Century-Gothic/centurygothic_bold.ttf);
}

@font-face {
    font-family: century-regular;
    src: url(fonts/Century-Gothic/centurygothic.ttf);
  }

  @font-face {
    font-family: windows;
    src: url(fonts/SEGOEICONS.TTF);
  }
  
  @font-face {
      font-family: brands;
      src: url(fonts/brands.ttf);
    }
  
    @font-face {
      font-family: webicon1;
      src: url(fonts/webicon1.ttf);
    }
  
    @font-face {
      font-family: social;
      src: url(fonts/social.ttf);
    }
  
    @font-face {
      font-family: winxplogo;
      src: url(fonts/Marlett.ttf);
    }
  
    html {
      font-family: century-regular, arial, brands, webicon1, winxplogo;
    }

body {
      font-family: century-regular, arial, brands, webicon1, winxplogo;
  }
  
.header-nav {
      font-family: century-regular, arial;
  }
  
.winfonts {
      font-family: windows;
  }
  
.winfonts::arter:hover {
      content: '';
  }

.welcome-text-mobileh1 {
  font-family: century-gothic-bold, arial;
}

.welcome-text-mobilep {
  font-family: century-gothic-bold, arial;
}

.site-title {
    font-family: century-gothic-bold, arial;
}

.fontnav {
  font-family: century-regular, arial !important;
  font-weight: bold;
}

.textaboutui {
  font-family: century-regular, arial, brands, webicon1, winxplogo;
  font-weight: lighter;
}

