/*scrollBar*/
::-webkit-scrollbar {
  transition: 0.2s;
  background: #f3f3ffc9;
  backdrop-filter: blur(5px);
  margin-right: 5px;
  width: 6px;
  overflow-y: auto;
  scrollbar-color: transparent;
}

::-webkit-scrollbar-button{
background-color: #000;
}

::-webkit-scrollbar-button {
background: #fafafa;
box-shadow: inset 0 0 5px #fafafa;
border-radius: 4px;  
border: 3px solid #c518e8;
}
::-webkit-scrollbar-button:hover { 
box-shadow: inset 0 0 3px #fafafa; background: snow;
}

::-webkit-scrollbar-thumb {
border: 0.5px solid rgb(255, 255, 255) !important;
border-color: rgb(162, 16, 229);
border-radius: 15px;
background: rgb(201, 8, 219);
  
}

::-webkit-scrollbar-thumb:hover {
border: 0.5px solid rgb(255, 255, 255) !important;
border-color: rgb(150, 7, 169);
border-radius: 15px;
background: rgb(129, 3, 129);
animation-duration: 0.5s;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(102, 0, 105);
}
/*Ending*/

:root {
    --effect1: rgba(255, 255, 255, 0.788);
    --background-color: #ffffff;
    --transition-speed: 0.5s;
    --gradient-start: #006eff;
    --gradient-end: #be03af;
    --transparent-color: #aa2ff7;
    --box-shadow-color: rgba(255, 255, 255, 0);
    --blur-value: 0px;
    --header-bg-color: #f3f3ffc9;
    --box-shadow-color2: rgba(0, 0, 0, 0.1);
    --link-color: #333;
    --link-hover-bg-color: #d820d8;
    --link-hover-color: #ffffff;
    --hover-color: #750379;
    --dropdown-bg-color: #f1f1f1ce;
    --dropdown-bg-color2: rgba(241, 241, 241, 0.8);
    --dropdown-border-radius: 10px;
    --dropdown-content-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --hover-color2: #ee37ff;
    --active-color: #9cd2ff;
    --container-border-color: #a0a0b8;
    --welcome-color: #fff;
    --touch-primary-bg-color: rgba(163, 8, 224, 0.516);
    --touch-primary-border-color: rgb(152, 62, 193);
    --touch-primary-hover-border-color: rgb(104, 43, 133);
    --touch-border-color: #e8d6e9;
    --touch-hover-border-color: rgb(237, 113, 253);
    --touch-active-bg-color: #ffb5ff;
    --footer-color: #000000;
    --banner-bg-color: #f2f2f200;
    --btn-primary-color: #fff;
    --btn-primary-bg-color: #f700ff;
    --btn-primary-border-color: #ff00ff;
    --btn-primary-hover-bg-color: rgb(252, 85, 196);
    --btn-primary-hover-border-color: rgb(255, 2, 255);
    --footer-links-color: #000000;
    --logo-hover-box-shadow-color: rgba(255, 100, 229, 0.494);
    --logo-hover-box-shadow-color2: rgb(252, 85, 196);
    --bannerchoice-hover-box-shadow-color: rgb(255, 2, 255);
    --bannerchoice-hover-box-shadow-color2: rgb(252, 85, 196);
    --viewer-box-shadow-color: rgb(255, 2, 255);
    --viewer-box-shadow-color2: rgb(252, 85, 196);
    --selected-box-shadow-color: rgb(255, 2, 255);
    --selected-box-shadow-color2: rgb(252, 85, 196);
    --selected-cursor: pointer;
    --imageselect-cursor: pointer;
    --mobile-bg-color: #f3f3ffc9;
    --button-close: #ff4242;
    --button-close-focus: #f84c4c;
    --updates-background: rgb(252, 85, 196)
  }
  
  html {
    background-color: var(--background-color);
    transition: background-color var(--transition-speed);
  }
  
  .welcome {
    background: linear-gradient(var(--gradient-start), var(--gradient-end));
  }

  .hero { 
    background-color: #c276f100;
    background-image: linear-gradient(to top, #aa2ff7, #7800c2, #7800c2, #7800c2, #aa2ff7);
  }

  .heroproject { 
    color: #fff;
    background-color: #c276f100;
    background-image: linear-gradient(to top, #aa2ff7, #7800c2, #7800c2, #7800c2, #aa2ff7);
  }

  .herocomponents { 
    color: #fff;
    background-color: #c276f100;
    background-image: linear-gradient(to top, #aa2ff7, #7800c2, #7800c2, #7800c2, #aa2ff7);
  }

  .dialog {
    background-color: #ffffff57;
  }
  
  .hidecolor {
    transition: var(--transition-speed);
    color: #fff !important;
    background-color: var(--transparent-color);
    box-shadow: 0 2px 5px var(--box-shadow-color);
    backdrop-filter: blur(var(--blur-value));
  }

  .dockstylemobile a {
    color: #000000;
  }

  .dockstylemobile a:hover {
    background-color: #d820d8;
    color: rgb(255, 255, 255);
  }

  .dockstylemobile .active a {
    background-color: #d820d8;
  }

  .dockstylemobile .active {
    color: #ffffff;
  }

  .dockstylemobile .actived {
    color: #ffffff !important;
  }

  .hidecolor nav a {
    color: #fff !important;
  }

  .hidecolor .separator {
    background-color: #fff;
  }

  .hidecolor .separator {
    background-color: #fff;
  }

  .hidecolor .dropdown-content {
    background-color: #7800c27e !important;
  }

  .hidecolor .dropdown-pc {
    background-color: #7800c27e !important;
    backdrop-filter: blur(5px);
  }

  .hidecolor .active {
    background-color: #cc4aff !important;
  }

  .showcolor .active {
    color: #fff !important;
  }

  /*.showcolor:hover {
    color: #fff;
  }*/

  .showcolor nav a {
    color: #000 !important;
  }

  .showcolor nav a:hover {
    color: #ffffff !important;
  }
  
  .showcolor {
    color: #000;
    transition: var(--transition-speed);
    background-color: var(--dropdown-bg-color2);
    box-shadow: 0 2px 5px var(--box-shadow-color2);
    backdrop-filter: blur(5px);
  }
  
  header {
    transition: var(--transition-speed);
    background-color: var(--header-bg-color);
    box-shadow: 0 2px 5px var(--box-shadow-color2);
  }
  
  #header {
    transition: background-color var(--transition-speed);
  }
  
  nav a {
    color: var(--link-color);
  }
  
  nav a:hover {
    background-color: var(--link-hover-bg-color);
    color: var(--link-hover-color);
  }
  
  a {
    color: var(--hover-color);
    transition: 0.3s;
  }

  /*Mobile*/
  
  .dropdown-content {
    transition: var(--transition-speed);
    backdrop-filter: blur(6px);
    background-color: var(--dropdown-bg-color);
    box-shadow: var(--dropdown-content-shadow);
  }
  /*End-Mobile*/

  /*PC*/
  .dropdown-pc {
    transition: var(--transition-speed);
    backdrop-filter: blur(6px);
    border-radius: var(--dropdown-border-radius);
    background-color: var(--dropdown-bg-color);
    box-shadow: var(--dropdown-content-shadow);
  }
  /*End-PC*/
  a:hover {
    color: var(--hover-color2);
  }
  
  a:active {
    color: var(--active-color);
  }
  
  .active {
    background-color: var(--link-hover-bg-color);
    color: var(--link-hover-color);
  }
  
  .container {
    transition: var(--transition-speed);
    border: solid var(--container-border-color);
    background-color: var(--background-color);
  }
  
  .welcome-color {
    color: var(--welcome-color);
  }
  
  .touch-primary {
    color: var(--welcome-color);
    background-color: var(--touch-primary-bg-color);
    border: solid var(--touch-primary-border-color);
  }
  
  .touch-primary:hover {
    border: solid var(--touch-primary-hover-border-color);
  }
  
  .touch {
    border: solid var(--touch-border-color);
  }
  
  .touch:hover {
    border: solid var(--touch-hover-border-color);
  }
  
  .touch:active {
    background-color: var(--touch-active-bg-color);
  }
  
  footer {
    color: var(--footer-color);
  }
  
  .banner {
    background-color: var(--banner-bg-color);
  }
  
  .btn-primary {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-bg-color);
    border-color: var(--btn-primary-border-color);
  }
  
  .btn-primary:hover {
    background-color: var(--btn-primary-hover-bg-color);
    border-color: var(--btn-primary-hover-border-color);
  }
  
  .footer-links a {
    color: var(--footer-links-color);
  }
  
  .logo:hover {
    box-shadow: 0 0 0 1px var(--logo-hover-box-shadow-color),
      0 0 13px var(--logo-hover-box-shadow-color2);
  }
  
  .bannerchoice:hover {
    box-shadow: 0 0 0 1px var(--bannerchoice-hover-box-shadow-color),
      0 0 13px var(--bannerchoice-hover-box-shadow-color2);
  }
  
  .bannerchoice {
    transition: 0.3s;
  }
  
  .viewer {
    box-shadow: 0 0 0 1px var(--viewer-box-shadow-color),
      0 0 13px var(--viewer-box-shadow-color2);
  }
  
  .selected {
    box-shadow: 0 0 0 1px var(--selected-box-shadow-color),
      0 0 13px var(--selected-box-shadow-color2);
    cursor: var(--selected-cursor);
  }
  
  .imageselect {
    cursor: var(--imageselect-cursor);
  }
  
  .mobile {
    background-color: var(--mobile-bg-color);
  }
  
  .close {
    color: var(--button-close);
}

.close:hover {
    color: var(--button-close-focus);
}

.close:active {
    color: var(--button-close);
}

.hero {
  color: #fff !important;
}

.dockstylemobile .actived {
  color: #000 !important;
}
