
/*Scrollbar*/
::-webkit-scrollbar {
transition: 0.2s;
background: #f3f3ffc9;
backdrop-filter: blur(5px);
}

::-webkit-scrollbar-button{
background-color: #000;
}

::-webkit-scrollbar-button:hover { 
background-color: #4b4b4b;
}

::-webkit-scrollbar-thumb {
border: 0.5px solid rgb(255, 255, 255) !important;
border-color: #4b4b4b;
background: #4b4b4b;

}

::-webkit-scrollbar-thumb:hover {
border: 0.5px solid rgb(255, 255, 255) !important;
border-color: #4b4b4b;
background: #4b4b4b;
animation-duration: 0.5s;
}

::-webkit-scrollbar-thumb:active {
background: #4b4b4b;
}

html {
  background-color: #000;
  color: #fff;
}

.button {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-buttons .button:hover {
  background-color: #0056b3;
}

.social-buttons .youtube {
  background-color: #ff0000; /* Цвет YouTube */
}

.social-buttons .youtube:hover {
  background-color: #9a0202; /* Цвет YouTube */
}

.social-buttons .telegram {
  background-color: #0088cc; /* Цвет Telegram */
}

.social-buttons .download {
  background-color: #00a511; /* Скачать */
}

.social-buttons .download:hover {
  background-color: #02cc16; /* Скачать */
}

/* Обновленные стили для секции приветствия */

.homebanner iframe {
  transition: .5s;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.728);
}

.homebanner .video-angle {
  background-color: #000000; /* Цвет фона */
  border: 1px solid #ffffff; /* Граница */
}

.infobanner .left-section {
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.1);
  background-color: #434343;
  border-radius: 10px;
}

.infobanner .right-section {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  background-color: #434343;
  border-radius: 10px;
}

.infobanner iframe {
  transition: .5s;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.728); /* добавим тень для эффекта поднятости */
}

.infobanner iframe:hover {
  width: 100%; /* Заполнение всей доступной ширины */
  border: none; /* Убираем рамку у iframe */
}

.infobanner .video-angle {
  background-color: #000000; /* Цвет фона */
  border: 1px solid #ffffff; /* Граница */
}

.infobanner .social-buttons {
  margin-top: 20px; /* Отступ сверху */
}

.infobanner .left-section img {
  width: 100px;
  height: 100px;
}
/*end-infobanner*/

.button {
  color: #ffffff;
  background-color: #007bff; /* Цвет кнопок */
  transition: 0.5s;
}

.button:hover {
  color: #ffffff;
  background-color: #1683ff; /* Цвет кнопок */
}

.home h2 {
  color: #ffffff;
}

.home p {
  color: #ffffff;
}

header {
  background-color: #000000cc;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* добавим тень для эффекта поднятости */
}

.logo {
  color: #ffffff; /* Цвет лого */
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff; /* Цвет ссылок в меню */
}

nav ul li a:hover {
  background-color: #fff;
  color: #000000;
}

.active {
  background-color: #fff;
  color: #000000;
}


.container {
  border-radius: 8px;
  background-color: #1f1f1f;
}

.containermax1200 {
  background-color: #1f1f1f;
}

.menuw-card {
  background-color: #434343;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  transition: background-color 0.3s ease;
}

.menuw-card:hover {
  color: #fff;
  background-color: #007bff;
}

footer {
  background-color: #ffffff00;
}

/*Новости*/
.news-card {
  background-color: #434343;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-card h3 {
  color: #ffffff;
}

.news-card p {
  color: #fff;
}


/*Плейлист*/


.playlists-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.color-violet  {
  background: rgb(63,9,121) !important;
  color: #fff !important;
  background: linear-gradient(90deg, rgba(63,9,121,1) 9%, rgba(0,0,0,1) 100%) !important;
}

.color-multicolor {
  background: rgb(121,63,9);
  background: linear-gradient(90deg, rgba(121,63,9,1) 0%, rgba(102,15,191,1) 45%, rgba(0,82,128,1) 48%, rgba(0,86,131,1) 100%); 
  color: #fff;
}

.color-onecolor {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,86,131,1) 100%);
  color: #fff;
}

.color-bluegradient {
  background: rgb(0,48,179);
  background: linear-gradient(90deg, rgba(0,48,179,1) 0%, rgba(0,0,0,1) 100%);
  color: #fff;
}

/*Google-icons*/
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48;
font-size: 20px !important;
}

.material-symbols-outlined:hover {
font-variation-settings:
'FILL' 1,
'wght' 300, 
'GRAD' 0,
'opsz' 48
}

.material-symbols-outlined.active {
font-variation-settings:
'FILL' 1,
'wght' 300, 
'GRAD' 0,
'opsz' 48
}

.navigation-list-name {
vertical-align: -5px;
margin: 0 3px 0%  0;
}

/* Боковое меню */
.sidebar {
background-color: #1f1f1f;
box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
transition: right 0.3s ease-in-out;
color: #ffffff;
}

.sidebar-group {
  background-color: #434343;
}

.sidebar.show {
right: 0;
}

.sidebar a {
color: #ffffff;
transition: 0.3s;
cursor: pointer;
}

.sidebar a:hover {
background-color: #ffffff;
color: #1f1f1f !important;
}

.sidebar .active {
background-color: #fff;
color: #1f1f1f !important;
}

.projects-section {
background-color: #1f1f1f;
}

.projects-info p {
color: #ffffff; /* Цвет текста */
}

.projects-info a {
color: #007bff; /* Цвет ссылки */
transition: color 0.3s; /* Плавное изменение цвета */
}

.projects-info a:hover {
color: #0056b3; /* Цвет ссылки при наведении */
}

.project-image img {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
}

.aboutbackground {
background-color: #1f1f1f;
}

a {
color: rgb(141, 141, 255);
}

.dmode {
  background-color: #f1f1f1 !important;
  color: #000 !important;
  font-variation-settings:
  'FILL' 1,
  'wght' 300, 
  'GRAD' 0,
  'opsz' 48
}

/*Проекты*/


.projects-card {
background-color: #434343;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
}

.firmware-card {
background-color: #1f1f1f;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
}

.welcome-postsbanner {
background-color: #1f1f1f;
border-radius: 8px;
}

.welcome-postsbanner p {
color: #ffffff;
}

.post {
background-color: #1f1f1f; /* Цвет фона для каждого поста */
border-radius: 8px;
}

.post:nth-child(even) {
background-color: #1f1f1f; /* Цвет фона для четных постов */
border-radius: 8px;
}

/*Диалоговые окна*/
.dialog-content .container {
background-color: #1f1f1f;
}

.dialog {
background-color: #1f1f1f;
animation: fadeIn 0.5s ease-in-out;
}

.dialog-setttings {
  background-color: rgba(0, 0, 0, 0.733);
  animation: fadeIn 0.5s ease-in-out;
}

.dialog-content {
background-color: #1f1f1f;
animation: slideIn 0.3s ease-in-out;
}

.dialog-content-settings {
  background-color: #1f1f1f;
  animation: slideIn 0.3s ease-in-out;
  border: 1px solid #303030;
}


.close {
color: #ffffff;
}

.close:hover,
.close:focus {
color: rgb(201, 201, 201);
}


/*Универсал*/


.universal-card {
background-color: #434343;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(79, 79, 79, 0.1);
transition: transform 0.3s ease;
}

/*EX*/
.universalex {
margin-bottom: 20px;
overflow: auto;
width: 100%;
}


.universalex-card {
background-color: #1f1f1f;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
}


.maystyletextaera {
border-radius: 8px;
border: solid #000 2px;
color: #fff !important;
}

.bg3 {
transition: 0.3s;
border: solid 1px #ffffff00;
}

.centerforbanner {
background-color: #1f1f1f;
border-radius: 8px;
transition: 0.3s;
}

.bg3:hover {
border: solid 1px #fff;
}

.slider {
background-color: #ccc;
}

.slider:before {
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

@media screen and (max-width: 1250px) {

.projects-info p {
  color: #ffffff;
}

.projects-info a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.projects-info a:hover {
  color: #0056b3;
}

.project-image {
  max-width: 50%;
  text-align: center;
}

.project-image img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mynameis, .ageandcity, .learnandlanguage, .titlesteck, .steck {
  width: 100%;
}

.infobanner .left-section {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #434343;
  border-radius: 10px;
}

.infobanner .right-section {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  flex-basis: 45%;
  background-color: #434343;
  border-radius: 10px;
}

.infobanner iframe {
  transform-origin: right center;
  transition: .5s;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.728);
}

.infobanner .video-angle {
  background-color: #1f1f1f;
  border: 1px solid #000000;
}
/*end-infobanner*/
}

/* Баннер */
.banner {
  background-color: #282828; /* Более темный фон */
  color: #fff; /* Контрастный белый текст */
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Тень для выделения */
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-bottom: 20px;
}

/* Стиль для текста и ссылки в баннере */
.banner a {
  color: #a29dff; /* Синий цвет для ссылок */
  text-decoration: none;
}

.banner a:hover {
  text-decoration: underline;
}

/* Стиль для кнопки закрытия */
.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.logo img {
  filter: invert(100%);
  transition: 0.3s;
}

.logo-about img {
  filter: invert(100%);
  transition: 0.3s;
}

.logo img:hover {
  filter: invert(0%); /* Инвертировать цвета изображения при наведении */
}

.themefav {
  filter: invert(100%);
}

.hello {
  fill: #ffffff; /* Ваш цвет */
}

.softlogo {
  filter: invert(100%);
}

.bloglogo {
  filter: invert(100%);
}

.projectslogo {
  filter: invert(100%);
}

.warning {
  fill: hsl(0, 0%, 100%);
}

.dmessage {
  background-color: #363636;
  border: 1px solid #434343;
}