* {
  margin: 0;
  padding: 0;
}

/*Scrollbar*/
::-webkit-scrollbar {
  transition: 0.2s;
  background: #f3f3ffc9;
  backdrop-filter: blur(5px);
  margin-right: 5px;
  width: 10px;
  overflow-y: auto;
  scrollbar-color: transparent;
}

::-webkit-scrollbar-button {
  background-color: #000;
  border-radius: 15px;
}

::-webkit-scrollbar-button:hover {
  background-color: #4b4b4b;
}

::-webkit-scrollbar-thumb {
  border: 0.5px solid rgb(255, 255, 255) !important;
  border-color: #4b4b4b;
  border-radius: 15px;
  background: #4b4b4b;
}

::-webkit-scrollbar-thumb:hover {
  border: 0.5px solid rgb(255, 255, 255) !important;
  border-color: #4b4b4b;
  border-radius: 15px;
  background: #4b4b4b;
  animation-duration: 0.5s;
}

::-webkit-scrollbar-thumb:active {
  background: #4b4b4b;
}

body {
  font-family: "Roboto", sans-serif;
}

.button {
  display: inline-block;
  font-size: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
}

.button-group button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #0056b3;
}

.button-group button:first-child {
  border-radius: 5px 0 0 5px;
}

.button-group button:last-child {
  border-radius: 0 5px 5px 0;
}

.button-group button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.button-group button + button {
  margin-left: -1px;
}

.button-group .youtube {
  background-color: #ff0000; /* Цвет YouTube */
}

.button-group .youtube:hover {
  background-color: #9a0202; /* Цвет YouTube */
}

.button-group .telegram {
  background-color: #0088cc; /* Цвет Telegram */
}

.button-group .openvk {
  background-color: #656565; /* Цвет Telegram */
}

.button-group .openvk:hover {
  background-color: #4e4e4e; /* Цвет Telegram */
}

.button-group .github {
  background-color: #393838; /* Цвет Telegram */
}

.button-group .github:hover {
  background-color: #4e4e4e; /* Цвет Telegram */
}

.social-buttons .download {
  background-color: #00a511; /* Скачать */
}

.social-buttons .download:hover {
  background-color: #02cc16; /* Скачать */
}

/* Обновленные стили для секции приветствия */

.welcomeclockbanner {
  padding: 40px;
  margin: auto;
  max-width: 90%;
  align-items: center;
  text-align: center;
}

.welcomeclockbanner h1 {
  font-size: 120px;
}

.welcomeclockbanner p {
  font-size: 30px;
}

.homebanner {
  display: flex;
  justify-content: space-between;
}

.homebanner .left-section {
  flex-grow: 1;
  padding: 40px; /* Расстояние между элементами */
}

.homebanner .right-section {
  padding: 40px;
  flex-basis: 60%; /* Ширина правой части */
}

.homebanner .video-container {
  position: relative;
  perspective: 1000px; /* Задаем значение перспективы */
}

.homebanner iframe {
  width: 100%;
  border: none;
  transform: rotateY(-10deg);
  transform-origin: right center;
  transition: 0.5s;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.728);
}

.homebanner iframe:hover {
  width: 100%; /* Заполнение всей доступной ширины */
  border: none; /* Убираем рамку у iframe */
  transform: rotateY(0deg); /* Поворачиваем iframe по оси Y на -10 градусов */
  transform-origin: right center; /* Определяем точку применения трансформации */
}

.homebanner .video-angle {
  position: absolute;
  top: 10px; /* Выравнивание по верхнему краю */
  left: -20px; /* Отступ от левого края */
  background-color: #ffffff; /* Цвет фона */
  padding: 5px 10px; /* Поля внутри элемента */
  border: 1px solid #000000; /* Граница */
}

.homebanner .social-buttons {
  margin-top: 20px; /* Отступ сверху */
}

/*infobanner*/
.infobanner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.infobanner .left-section {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  padding: 30px; /* Расстояние между элементами */
  background-color: #e5e5e5;
  border-radius: 10px;
}

.infobanner .right-section {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  flex-basis: 45%; /* Ширина правой части */
  background-color: #e5e5e5;
  border-radius: 10px;
}

.infobanner .video-container {
  position: relative;
  perspective: 1000px; /* Задаем значение перспективы */
}

.infobanner iframe {
  width: 100%; /* Заполнение всей доступной ширины */
  border: none; /* Убираем рамку у iframe */
  transform: rotateY(-10deg); /* Поворачиваем iframe по оси Y на -10 градусов */
  transform-origin: right center; /* Определяем точку применения трансформации */
  transition: 0.5s;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.728); /* добавим тень для эффекта поднятости */
}

.infobanner iframe:hover {
  width: 100%; /* Заполнение всей доступной ширины */
  border: none; /* Убираем рамку у iframe */
  transform: rotateY(0deg); /* Поворачиваем iframe по оси Y на -10 градусов */
  transform-origin: right center; /* Определяем точку применения трансформации */
}

.infobanner .video-angle {
  position: absolute;
  top: 10px; /* Выравнивание по верхнему краю */
  left: -20px; /* Отступ от левого края */
  background-color: #ffffff; /* Цвет фона */
  padding: 5px 10px; /* Поля внутри элемента */
  border: 1px solid #000000; /* Граница */
}

.infobanner .social-buttons {
  margin-top: 20px; /* Отступ сверху */
}

.infobanner .left-section img {
  width: 100px;
  height: 100px;
}
/*end-infobanner*/

.button {
  font-size: 13px;
}

.button {
  display: inline-block;
  padding: 10px 20px; /* Размер кнопок */
  margin-right: 10px; /* Отступ между кнопками */
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff; /* Цвет кнопок */
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  color: #ffffff;
  background-color: #16dcff; /* Цвет кнопок */
}

.button + .button {
  margin-left: 10px; /* Добавим небольшой отступ между кнопками */
}

.home h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.home p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.social-buttons {
  margin-top: 20px; /* Добавим отступ над кнопками */
}

.social-buttons .button + .button {
  margin-left: 10px; /* Добавим отступ между кнопками */
}

header {
  background-color: #edededcc;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* добавим тень для эффекта поднятости */
  padding: 10px 40px; /* Увеличим отступы справа и слева */
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  color: #333; /* Цвет лого */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px; /* Изменим отступ слева для элементов меню */
}

nav ul li:first-child {
  margin-left: 0; /* Уберем отступ для первого элемента меню */
}

nav ul li a {
  text-decoration: none;
  color: #333; /* Цвет ссылок в меню */
  transition: 0.3s;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

nav ul li a:hover {
  background-color: #000000;
  color: #fff;
}

.active {
  background-color: #000000;
  color: #fff;
}

.container {
  border-radius: 8px;
  background-color: #f1f1f1;
  padding: 20px;
  max-width: 100%; /* Максимальная ширина контейнера */
  margin: auto; /* Центрирование контейнера с отступами сверху и снизу */
}

.trcontainer {
  padding: 20px;
  max-width: 100%; /* Максимальная ширина контейнера */
  margin: auto; /* Центрирование контейнера с отступами сверху и снизу */
}

.containermax1200 {
  background-color: #f8f4f4;
  border-radius: 10px;
  padding: 20px;
  max-width: 1700px; /* Максимальная ширина контейнера */
  margin: auto; /* Центрирование контейнера с отступами сверху и снизу */
}

.menuw-card {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menuw-card:hover {
  color: #fff;
  background-color: #007bff;
}

.container li {
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

footer {
  background-color: #ffffff00;
  text-align: center;
  padding: 20px;
}

/*Новости*/

.news {
  margin-bottom: 20px !important;
  overflow: auto;
}

.news .text {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.news-container {
  width: 100%;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important; /* Центрируем по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

.news-card {
  width: 20%;
  padding: 20px;
  margin: 25px; /* Добавим небольшие отступы */
  background-color: #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.news-card:hover {
  transform: translateY(-5px);
}

.news-card h3 {
  margin-bottom: 10px;
  color: #333333;
}

.news-card p {
  color: #666666;
}

/*Плейлист*/

.playlists {
  margin-bottom: 20px;
  overflow: auto;
}

.playlists .text {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.playlists-container {
  width: 100%;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important; /* Центрируем по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

.playlists-card {
  width: 20%;
  padding: 20px;
  margin: 25px; /* Добавим небольшие отступы */
  background-color: #e3e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.playlists-card:hover {
  transform: translateY(-5px);
}

.playlists-card h3 {
  margin-bottom: 10px;
}

.color-violet {
  background: rgb(63, 9, 121) !important;
  color: #fff !important;
  background: linear-gradient(
    90deg,
    rgba(63, 9, 121, 1) 9%,
    rgba(0, 0, 0, 1) 100%
  ) !important;
}

.color-multicolor {
  background: rgb(121, 63, 9);
  background: linear-gradient(
    90deg,
    rgba(121, 63, 9, 1) 0%,
    rgba(102, 15, 191, 1) 45%,
    rgba(0, 82, 128, 1) 48%,
    rgba(0, 86, 131, 1) 100%
  );
  color: #fff;
}

.color-onecolor {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 86, 131, 1) 100%
  );
  color: #fff;
}

.color-bluegradient {
  background: rgb(0, 48, 179);
  background: linear-gradient(
    90deg,
    rgba(0, 48, 179, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #fff;
}

/*Google-icons*/
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 20px !important;
}

.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined.active {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}

.navigation-list-name {
  vertical-align: -5px;
  margin: 0 3px 0% 0;
}

/* Боковое меню */
.sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  height: 100%;
  width: 300px;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 100000;
  color: #000000;
  overflow: auto;
}

.sidebar.show {
  right: 0;
}

.sidebar a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 5px;
  margin-bottom: 5px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar a:hover {
  background-color: #333;
  color: #fff !important;
}

.sidebar .active {
  background-color: #333;
  color: #fff !important;
}

.podtextgreeting {
  text-align: center;
  align-items: center;
  height: 50px;
  font-size: 15px !important;
}

.fontnav {
  font-family: "Arial", sans-serif !important;
  font-size: 20px;
  margin-left: 5px;
  vertical-align: 3px;
}

.hidemobile {
  display: none;
}

.projects-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px; /* Пример отступа */
  background-color: #e3e0e0;
  border-radius: 8px;
}

.projects-info {
  align-items: flex-start;
  max-width: 100%; /* Ограничиваем максимальную ширину */
}

.projects-info h1 {
  font-size: 24px; /* Размер заголовка */
  margin-bottom: 10px; /* Отступ снизу */
}

.projects-info p {
  font-size: 18px; /* Размер текста */
  color: #666666; /* Цвет текста */
  margin-bottom: 20px; /* Отступ снизу */
}

.projects-info a {
  display: block; /* Ссылка как блочный элемент */
  color: #007bff; /* Цвет ссылки */
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 16px; /* Размер текста */
  transition: color 0.3s; /* Плавное изменение цвета */
}

.projects-info a:hover {
  color: #0056b3; /* Цвет ссылки при наведении */
}

.project-image {
  display: flex;
  flex-direction: row-reverse;
}

.project-image img {
  width: 50%;
  border-radius: 10px; /* Скругление углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
}

.aboutbackground {
  background-color: #e3e0e0;
  border-radius: 8px;
}

.leftmaintext {
  padding: 20px !important;
}

a {
  cursor: pointer;
  color: blue;
}

/*Проекты*/

.projects {
  margin-bottom: 20px;
  overflow: auto;
  width: 100%;
}

.projects .text {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.projects-container {
  margin-top: 20px;
  width: 100%;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important; /* Центрируем по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

.projects-card {
  width: 20%;
  padding: 20px;
  margin: 25px; /* Добавим небольшие отступы */
  background-color: #e3e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.projects-card:hover {
  transform: translateY(-5px);
}

.projects-card h3 {
  margin-bottom: 10px;
}

/*Прошивки*/
.firmware {
  margin-bottom: 20px;
  overflow: auto;
  width: 100%;
}

.firmware .text {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.firmware-container {
  margin-top: 20px;
  width: 100%;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important; /* Центрируем по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

.firmware-card {
  width: 100%;
  padding: 20px;
  margin: 10px; /* Добавим небольшие отступы */
  background-color: #e3e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.firmware-card:hover {
  transform: translateY(-5px);
}

.firmware-card h3 {
  margin-bottom: 10px;
}

.welcome-postsbanner {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 50px 0;
  text-align: center;
}

.welcome-postsbanner h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.welcome-postsbanner p {
  font-size: 18px;
  color: #555;
}

.posts-section {
  padding: 50px 0;
}

.posts-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.post {
  background-color: #e3e0e0; /* Цвет фона для каждого поста */
  padding: 20px;
  margin-bottom: 20px; /* Отступ между постами */
  border-radius: 8px;
}

.post:nth-child(even) {
  background-color: #e3e0e0; /* Цвет фона для четных постов */
  border-radius: 8px;
}

iframe {
  width: 100%;
  height: 400px; /* Начальная высота */
}

/*Диалоговые окна*/
.dialog-content .container {
  background-color: #fff;
}

.dialog {
  display: none;
  position: fixed;
  z-index: 1000 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  animation: fadeIn 0.5s ease-in-out;
}

.dialog-open {
  overflow: hidden;
}

.icon {
  width: 10% !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dialog-content {
  background-color: #fefefe;
  margin: 5% auto;
  /*padding: 20px;*/
  /*border: 1px solid #888;*/
  width: 90%;
  animation: slideIn 0.3s ease-in-out;
  /*border-radius: 25px;*/
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.scrollable-content {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.dialog.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*Универсал*/
.universal {
  margin-bottom: 20px;
  overflow: auto;
  width: 100%;
}

.universal .text {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.universal-container {
  margin-top: 20px;
  width: 100%;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important; /* Центрируем по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

.universal-card {
  width: 100%;
  padding: 20px;
  margin: 10px; /* Добавим небольшие отступы */
  background-color: #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.universal-card:hover {
  transform: translateY(-5px);
}

.universal-card h3 {
  margin-bottom: 10px;
}
/*EX*/
.universalex {
  margin-bottom: 20px;
  overflow: auto;
  width: 100%;
}

.universalex .text {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.universalex-container {
  margin-top: 20px;
  width: 100%;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important; /* Центрируем по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

.universalex-card {
  width: 100%;
  padding: 20px;
  margin: 45px; /* Добавим небольшие отступы */
  background-color: #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.universalex-card:hover {
  transform: translateY(-5px);
}

.universalex-card h3 {
  margin-bottom: 10px;
}

/*Оптимизация leftandright*/
.leftandright {
  display: flex !important;
  justify-content: space-between !important;
}

.maystyletextaera {
  resize: none;
  border-radius: 8px;
  width: 100%;
  height: 30px;
  border: solid #000 2px;
  text-align: center;
  align-items: center;
}

img {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bg3 {
  width: 88px;
  height: 31px;
  transition: 0.3s;
  border: solid 1px #ffffff00;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.centerforbanner {
  align-items: center;
  text-align: center;
  background-color: #e3e3e3;
  border-radius: 8px;
  transition: 0.3s;
}

.bg3:hover {
  border: solid 1px #000000;
}

nav .slider {
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.infoblock {
  text-align: center;
  align-items: center;
  margin: auto;
}

.infoblock img {
  width: 200px;
  height: 200px;
}

.helloimg {
  width: 50px;
  height: 50px;
  vertical-align: -5px;
}

.infoblock h1 {
  font-size: 40px;
  padding: 20px;
  max-width: 1400px;
  margin: auto;
}

/* Анимация для появления элемента слева */
@keyframes leftMove {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.left-animation {
  overflow: hidden !important;
  animation: leftMove 2s ease-in-out forwards;
}

/* Анимация для появления элемента справа */
@keyframes rightMove {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.right-animation {
  overflow: hidden !important;
  animation: rightMove 2s ease-in-out forwards;
}

/* Анимация для появления элемента сверху */
@keyframes topMove {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.top-animation {
  overflow: hidden !important;
  animation: topMove 2s ease-in-out forwards;
}

.posttitle {
  font-size: 40px;
}

.containermax1200 ul {
  margin: 10px;
}

/* Анимация для появления элемента снизу */
@keyframes bottomMove {
  from {
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bottom-animation {
  overflow: hidden !important;
  animation: bottomMove 2s ease-in-out forwards;
}

@keyframes opcanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity-animation {
  overflow: hidden !important;
  animation: opcanimation 0.5s ease-in-out forwards;
}

.overflow-hidden {
  overflow-x: hidden;
}

/*Адаптация под мобильные устройства*/

@media screen and (max-width: 1250px) {
  img {
    width: 100%;
  }

  .homebanner iframe {
    width: 100%;
    border: none;
    transform: rotateY(0deg);
    transform-origin: right center;
  }

  .homebanner .right-section {
    padding: 0 !important;
  }

  .infoblock h1 {
    font-size: 35px;
  }

  .homebanner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  .icon {
    width: 80px !important;
  }

  .maystyletextaera {
    height: 60px;
  }

  iframe {
    width: 350px !important;
    height: 200px !important;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ nav {
    display: block;
  }

  nav ul {
    display: block;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  header {
    padding: 1px 40px;
  }

  .news-card {
    margin: 0 10px 20px;
    width: 100% !important;
  }

  .playlists-card {
    margin: 0 10px 20px;
    width: 100% !important;
  }

  .projects-card {
    margin: 0 10px 20px;
    width: 100% !important;
  }

  .hidepc {
    display: none !important;
  }

  .hidemobile {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
  }

  .projects-section {
    padding: 15px;
    border-radius: 8px;
  }

  .projects-info {
    max-width: 80%;
    text-align: start;
  }

  .projects-info h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .projects-info p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
  }

  .projects-info a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }

  .projects-info a:hover {
    color: #0056b3;
  }

  .project-image {
    max-width: 50%;
    text-align: center;
  }

  .project-image img {
    align-items: center;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .mynameis,
  .ageandcity,
  .learnandlanguage,
  .titlesteck,
  .steck {
    width: 100%;
  }

  /*infobanner*/
  .infobanner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .infobanner .left-section {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    padding: 30px;
    background-color: #e5e5e5;
    border-radius: 10px;
  }

  .infobanner .right-section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    flex-basis: 45%;
    background-color: #e5e5e5;
    border-radius: 10px;
  }

  .infobanner .video-container {
    position: relative;
    perspective: 1000px;
  }

  .infobanner iframe {
    width: 100%;
    border: none;
    transform: rotateY(-10deg);
    transform-origin: right center;
    transition: 0.5s;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.728);
  }

  .infobanner iframe:hover {
    width: 100%;
    border: none;
    transform: rotateY(0deg);
    transform-origin: right center;
  }

  .infobanner .video-angle {
    position: absolute;
    top: 10px;
    left: -20px;
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #000000;
  }

  .infobanner .social-buttons {
    margin-top: 20px;
  }

  .infobanner .left-section img {
    width: 100px;
    height: 100px;
  }

  .button-group {
    justify-content: center;
  }
  /*end-infobanner*/
}
